/* 

These comments can span multiple lines


*/

/* 

list of CSS selectors:
                - Element Selectors: is going to select all instances of the given tag form our HTML page.
                    - body
                    - p
                

*/

p,
h1 {
  /* Select all <p> tags */
  /* By using a comma, I can have this style effect multiple different tags at the same time */

  /* Property: value ; */

  color: orangered;
  background-color: rebeccapurple;
}

body {
  background-color: rgb(50, 140, 60);

  /* In CSS we have 3 major ways to refer to a color
  
        - color keywords
                - green, blue, rebeccapurple
        - RGB value
            - rgb(0-255, 0-255, 0-255)
            - each number represents red, blue, green strength
        - hex code
            - #ffffff (white)
            */
}

/* classes are accessed with the "." followed by the class name 
    - useful for targeting multiple elements
    */

.header {
  color: blue;
  background-color: pink;
}

.btn {
  text-decoration: none;
  border: 2px solid yellow;
  background-color: beige;
  border-radius: 10px;
}

nav .btn {
  text-shadow: 1px 1px 5px black;
}

nav > .btn {
  background-color: aquamarine;
}
/* 
     IDs are accessed with the "#" symbol, followed by the id name.
        - For targeting a single element
*/
#unique {
  text-decoration: underline overline;
  background-color: steelblue;
  color: lightblue;
  border-radius: 25px;
}

/* 

    ! CSS Hierarchy

        This is going to allow CSS to use distinct levels of "priority" to style our elements. The order of priority from weakest to strongest is:

            Element Stylesheet:
                - Element
                - Class
                - ID
            Internal Stylesheet:
                - Element
                - Class
                - ID
                - Inline-Styling
                - !important


            "External Stylesheet" is a .css file which is not the .html file on our webpage in.
            
            "Internal Stylesheet" is CSS written within the .html file

            "Inline-Styling" is when I add a "style" property/attribute to an element in my html file.

            Order of specificity: 
            1. !important
            2. In-line style
            3. id selector
            4. class
            5. element
            


*/

h3 {
  background-color: red !important;
}

.oos-class {
  background-color: purple;
}

#oos-id {
  background-color: white;
}

a:visited {
  color: purple;
}

a:hover {
  color: pink;
}

a:active {
  color: greenyellow;
}

a:link {
  color: aliceblue;
}
